* {
    margin: 0;
    padding: 0;
}

.container {
    margin: 30px auto;
    max-width: 1200px;
    display: grid;
    grid-template-columns: 8em auto 8em;
    grid-template-rows: auto auto auto auto 3em;
}

body {
    font-size: 1.1em;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.nav-link {
    display: block;
    margin-bottom: 0.5em;
}

h3 {
    margin-bottom: 0.5em;
}

p {
    line-height: 1.5;
    margin-bottom: 1em;
}

header {
    background: #222;
    color: white;
    align-items: center;
    justify-items: center;
    text-align: center;
    height: 150px;
    padding: 20px;
}

nav {
    padding: 0.5em;
}

main {
    padding: 0.5em;
}

aside {
    padding: 0.5em;
}

footer {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    grid-column: 1 / 4;
    grid-row: 5;
}

@media screen and (max-width: 479px) {
    header {
        grid-column: 1 / 4;
    }

    nav {
        grid-column: 1 / 4;
        grid-row: 2;
    }

    main {
        grid-column: 1 / 4;
        grid-row: 3;
    }

    aside {
        grid-column: 1 / 4;
        grid-row: 4;
    }
}

@media screen and (min-width: 480px) and (max-width: 639px) {
    header {
        grid-column: 1 / 4;
    }

    nav {
        grid-column: 1;
        grid-row: 2;
    }

    aside {
        grid-column: 1;
        grid-row: 3 / 5;
    }

    main {
        grid-column: 2 / 4;
        grid-row: 1 / 5;
    }
}

@media screen and (min-width: 640px) {
    header {
        grid-column: 1 / 4;
    }

    nav {
        grid-row: 2 / 5;
        grid-column: 1;
    }

    aside {
        grid-row: 2 / 5;
        grid-column: 3;
    }

    main {
        grid-row: 2 / 5;
        grid-column: 2;
    }
}

.app-title {
    font-size: 1.5em;
}

.app-intro {
    font-size: large;
}

.signup, .login, .forgotpasswordsent {
background-color: rgba(191, 216, 227, .4);
border: 1px solid rgba(191, 216, 227, .8);
border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px;
padding: 10px;
margin-bottom: 10px;
}

.signup, .login > div {
padding: 5px 0;
}

input[type="submit"] {
border: 1px solid rgba(191, 216, 227, .8);
border-radius: 5px;
color: #fff;
background-color: rgb(54, 134, 169);
font-size: 110%;
}

input[type="email"],
input[type="password"],
input[type="number"] {
border: 1px solid rgba(191, 216, 227, .8);
padding: 5px;
border-radius: 5px;
font-size: 110%;
width: 100%;
}
